:root
{
    --bg-color:#0E0E0E;
    --font-color:#ffffff;
}
body
{
    width: 100%;
    padding: 0;
    margin: o auto;
    background-color: var(--bg-color);
}
.img
{
    margin-left: 60%;
    width: 40.2%;
    position: absolute;

}
.sign
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 8%;
    position: absolute;
    margin-left: 24%;
}
.rec2
{
    width: 470px;
height: 42px;
border-radius: 3px;
border: 1px solid #D7D7D7;
margin-top: 15%;
margin-left: 5%;
}
.rec3
{
    width: 470px;
height: 42px;
border-radius: 3px;
border: 1px solid #D7D7D7;
margin-top: 15%;
margin-left: 31%;
}