:root
{
    --bg-color:#0E0E0E;
    --font-color:#ffffff;
}
body
{
    width: 100%;
    padding: 0;
    margin: o auto;
    background-color: var(--bg-color);
}
.img
{
    margin-left: 60%;
    width: 40.2%;
    position: absolute;

}
.sign
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.5vw;
    margin-top: 8%;
    position: absolute;
    margin-left: 25%;
}
.first
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 15%;
    position: absolute;
    margin-left: 5%;
}
.rec2
{
    width: 470px;
height: 42px;
border-radius: 3px;
border: 1px solid #D7D7D7;
margin-top: 17%;
margin-left: 5%;
position: absolute;
}
.last
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 15%;
    position: absolute;
    margin-left: 31%;
}
.rec3
{
    width: 470px;
height: 42px;
border-radius: 3px;
border: 1px solid #D7D7D7;
margin-top: 17%;
margin-left: 31%;
position: absolute;
}
.mail
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 20%;
    position: absolute;
    margin-left: 5%;
}
.rec4
{
    width: 1055px;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #D7D7D7;
    margin-top: 22%;
    margin-left: 5%;
    position: absolute;
}
.pass
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 25%;
    position: absolute;
    margin-left: 5%;
}
.rec5
{
    width: 1055px;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #D7D7D7;
    margin-top: 27%;
    margin-left: 5%;
    position: absolute;
}
.comf
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 1.1vw;
    margin-top: 30%;
    position: absolute;
    margin-left: 5%;
}
.rec6
{
    width: 1055px;
    height: 42px;
    border-radius: 3px;
    border: 1px solid #D7D7D7;
    margin-top: 32%;
    margin-left: 5%;
    position: absolute;
}
.you
{
    font-family: "Inter", sans-serif;
    color: var(--font-color);
    font-weight: 600;
    font-size: 0.9vw;
    margin-top: 40%;
    position: absolute;
    margin-left: 19.5%;
}