* {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #111;
}

/* Footer */
.footer {
    /* background: #000000; */
    color: #ccc;
    padding-top: 4px;
    /* position: absolute; */
}

.footer-container {
    max-width: 1550px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-top: 210%;
    margin-left: 20%;
    background-color: #111;
}

/* Sections */
.footer-section h2 {
    color: #fff;
    margin-bottom: 15px;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
    font-size: 1vw;
}

/* Links */
.footer-section ul {
    list-style: none;
    font-size: 0.8vw;
}

.footer-section ul li {
    margin-bottom: 10px;
        font-size: 1vw;
    
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #fff;
}

/* Contact */
.contact p {
    margin-bottom: 8px;
    font-size: 18px;
}

/* Social Icons */
.social-icons {
    margin-top: 15px;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    background: #1a1a1a;
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.3s;
}

.social-icons a:hover {
    background: #ff3b3b;
}

/* Responsive */
@media (max-width: 900px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .footer-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .social-icons {
        justify-content: center;
    }
}
