
.sidebar { 
    width:230px; 
    background:#0d0d0d; 
    height:100vh; 
    position:fixed; 
    /* padding:5px; */
 }
.sidebar ul 
{ list-style:none; 
    padding:0; }
.sidebar li 
{ margin:15px 0; 
    color:#ffffff; 
    cursor:pointer; 
    font-size: 1.3vw;
    text-align: center;
}
.logoo
{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.drop{
    text-align: center;
    font-size: 0.9vw;
    text-decoration: none;
}
.icon
{
    display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 23px;
}
.jobs
{
     display: flex;
    gap: 20px;
    text-align: center;
    margin-left: 48px;
}
Link
{
    text-decoration: none;
}
